{% load static %}
<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span id="cart_count_inner">{{len_cart}}</span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            {% if cart_item %}
                {% for c in cart_item %}                    
                    <div class="single-cart-item to_hide delete" id="{{c.cart_product.id}}">
                         <a href="#" class="product-image">
                         <img src="{{ c.cart_product.photo_main_1.url }}" class="cart-thumb" alt="">
                     <!-- Cart Item Desc -->
                             <div class="cart-item-desc">
                                 <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                                 <span class="badge">{{c.cart_product.category}}</span>
                                 <h6>{{c.cart_product.title}}</h6>
                                 <p class="size"></p>                        
                                 <p class="price"><span>&#8377;</span> {{c.cart_product.actual_price}}</p>
                             </div>
                        </a>
                    </div>               
                {% endfor %}
            {% else %}
                {% if user.is_authenticated %}
                        <h4 style="text-align:center;">
                            Cart is empty <br>  <hr>                        
                        </h4>
                {% else %}
                    <h4 style="text-align-center;">
                        LOGIN TO SEE THE CART 
                    </h4>
                {% endif %}
            {% endif %}
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>subtotal:</span> <span><span>&#8377;</span> {{subtotal}}</span></li>
                <li><span>delivery:</span> <span><span>&#8377;</span> {{delivery}}</span></li>
                
                <li><span>total:</span> <span><span>&#8377;</span> {{total}}</span></li>
            </ul>
            {% if user.is_authenticated %}
                <div class="checkout-btn mt-100">
                <a href="{% url 'checkout' user.id %}" class="btn essence-btn">check out</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->