{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
    <!-- ##### Blog Wrapper Area Start ##### -->
    <div class="single-blog-wrapper">
    
        <!-- Single Blog Post Thumb -->
        <div class="single-blog-post-thumb">
            <img src="{% static 'img/bg-img/bg-8.jpg' %}" alt="">
        </div>
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="regular-page-content-wrapper section-padding-80">
                        <div class="regular-page-text">
                            <h2>This site is in Test Mode, and we will improve it drastically in few days.</h2>
                            <h3>Mail or whatsapp me your feedback, I would love to take your opinions.... link here ---> <a href="https://sohe1.pythonanywhere.com"
                            style="font-size: 30px; text-decoration: none" target="_blank"><u> Sohel </u></a> (admin)</h2>
                            <br>


                            <p>If you think there are some improvements that could be done on this site or you want to
                            contribute, feel free, and just tell me.</p>
    
                            <blockquote>
                                <h6><i class="fa fa-quote-left" aria-hidden="true"></i> Quisque sagittis non ex eget
                                    vestibulum. Sed nec ultrices dui. Cras et sagittis erat. Maecenas pulvinar, turpis in
                                    dictum tincidunt, dolor nibh lacinia lacus.</h6>
                                <span>Liam Neeson</span>
                            </blockquote>
    
                            <p>Praesent ac magna sed massa euismod congue vitae vitae risus. Nulla lorem augue, mollis non
                                est et, eleifend elementum ante. Nunc id pharetra magna. Praesent vel orci ornare, blandit
                                mi sed, aliquet nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                per inceptos himenaeos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->
{% endblock %}