{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({% static 'img/bg-img/bg-1.jpg' %});">
        <div class="container h-100">       
            {% include 'partials/_alerts.html' %}
            <div class="row h-100 align-items-center">            
                <div class="col-12">
                    <div class="hero-content">
                        
                        <h6>iconic styles</h6>
                        <h2>New Collection</h2>
                        <a href="{% url 'products' %}" class="btn essence-btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

      <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                        {% if products %}
                            {% for p in products %} 
                                
                                <!-- Single Product -->
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img class="img-thumbnail" src="{{ p.photo_main_1.url }}" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{{ p.photo_main_2.url }}" alt="">
                                        <!-- Favourite -->
                                        
                                    </div>
                                    <!-- Product Description -->
                                    <div class="product-description text-center">
                                        <span>{{ p.category }}</span>
                                        <a href="{% url 'product' p.id %}">
                                            <h6>{{ p.title }} ({{ p.product_code }})</h6>
                                        </a>
                                        <p class="product-price"><span>&#8377;</span>{{ p.actual_price }}</p>
                                
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            {% if user.is_authenticated %}
                                            <div class="add-to-cart-btn">                                                
                                                <a href="#" class="btn essence-btn addtocart" id="{{p.id}}">Add to Cart</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                  
                            {% endfor %}
                        {% else %}
                            <p>
                                No latest products available
                            </p>
                        {% endif %}
                         
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->
    
    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                {% for c in cat %}
                    <!-- Single Catagory -->
                    <div class="col-12 col-sm-6 col-md-4 mb-2">
                        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{c.photo_main_1.url}});">
                            <div class="catagory-content">
                                <a href="{% url 'cat_wise' c.id %}">{{c.category}}</a>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->
    
    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url({% static 'img/bg-img/bg-5.jpg' %});">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6>-60%</h6>
                                <h2>More Products</h2>
                                <h2>are</h2>
                                <a href="#" class="btn essence-btn">Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->
    
  
    
    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center justify-content-between">
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{% static 'img/core-img/brand1.png' %}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{% static 'img/core-img/brand2.png' %}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{% static 'img/core-img/brand3.png' %}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{% static 'img/core-img/brand4.png' %}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{% static 'img/core-img/brand5.png' %}" alt="">
        </div>
        <!-- Brand Logo -->
        <div class="single-brands-logo">
            <img src="{% static 'img/core-img/brand6.png' %}" alt="">
        </div>
    </div>
    <!-- ##### Brands Area End ##### -->
{% endblock %}