{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Products{% endblock %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->  
    <div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">  
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>all products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    
    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    
                </div>
    
                <div class="align-items-center">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{len}}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    {% if products %}
                                        <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value">Price: $$ - $</option>
                                                <option value="value">Price: $ - $$</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
    
                            {% if products %}
                                {% for p in products %}
                                    <!-- Single Product -->
                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="single-product-wrapper">
                                            <!-- Product Image -->
                                            <div class="product-img">
                                                <img src="{{ p.photo_main_1.url }}" alt="">
                                                <!-- Hover Thumb -->
                                                <img class="hover-img" src="{{ p.photo_main_2.url }}" alt="">
                                    
                                                <!-- Product Badge
                                                <div class="product-badge offer-badge">
                                                    <span>-30%</span>
                                                </div> -->
                                                <!-- Favourite -->
                                                <!-- <div class="product-favourite">
                                                    <a href="#" class="favme fa fa-heart"></a>
                                                </div> -->
                                            </div>
                                    
                                            <!-- Product Description -->
                                            <div class="product-description">
                                                <span><a href="{% url 'cat_wise' p.category.id %}">{{ p.category }}</a></span>
                                                <a href="{% url 'product' p.id %}">
                                                    <h6>{{ p.title }}</h6>
                                                </a>
                                                <p class="product-price"><span class="old-price"><span>&#8377;</span>{{ p.MRP | intcomma }}</span>
                                                     <span>&#8377;</span>{{ p.actual_price | intcomma }}</p>
                                    
                                                <!-- Hover Content -->
                                                <div class="hover-content">
                                                    <!-- Add to Cart -->
                                                    {% if user.is_authenticated %}
                                                    <div class="add-to-cart-btn">
                                                        <a href="#" class="btn essence-btn addtocart" id="{{p.id}}">Add to Cart</a>
                                                    </div>
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% else %}
                                <div class="col-md-12">
                                    <p>
                                        No products available :(
                                    </p>
                                </div>

                            {% endif %}
    
                        </div>
                    </div>


                    <!-- Pagination -->                    
                    <nav aria-label="navigation">
                        {% if products.has_other_pages %}
                            <ul class="pagination pagination-lg">
                                {% if products.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">
                                        <!-- <i class="fa fa-angle-left"></i> -->
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">
                                        <!-- <i class="fa fa-angle-left"></i> -->
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                <li class="page-item active">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            
                                {% if products.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">
                                        <!-- <i class="fa fa-angle-right"></i> -->
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->
{% endblock %}